---
title: Homepage
section-id: homepage
---
{{> header }}

<div>
	<img src="images/logo.png" alt="" />
	<h1>Homepage</h1>
	<p>Lorem ipsum dolor sit amet...</p>
	<ul>
		<li>This</li>
		<li>is</li>
		<li>a</li>
		<li>test</li>
	</ul>
	<a href="#" class="sprites-button"></a>
</div>

{{> footer }}
